name: Deploy Dev Environment

on:
  push:
    branches:
      - dev  # Ce workflow s'exécute uniquement pour la branche dev

# Donne à GITHUB_TOKEN le droit d'écrire sur le repo (push sur gh-pages)
permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Deploy to GitHub Pages (Dev)
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages     # branche de publication (par défaut: gh-pages)
          publish_dir: .               # ce que tu veux publier (ici la racine du repo)
          destination_dir: dev         # publié dans /dev sur la branche gh-pages
