name: Validate files

on:
  push:
    branches: [ dev, uat, main ]

# Donne à GITHUB_TOKEN le droit d'écrire sur le repo (push sur gh-pages)
permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Check if index.html or style.css exist
        run: |
          if [ ! -f index.html ]; then
            echo "Error: index.html is missing!"
            exit 1
          fi
          if [ ! -f style.css ]; then
            echo "Error: style.css is missing!"
            exit 1
          fi
          echo "All required files are present ✅"
